@font-face {
    /* nice rounded font*/
    font-family: 'Noto Sans JP', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
}
header {
    border-style: solid;
    border-width: 3px;
    border-radius: 6px;
    border-color:darkorchid;
    min-width: 800px;
}
header > h1 {
    font-size: 5vw;
    text-align: center;
}
a{
    font-size: 1.5em;
}
a:hover {
    color: cyan;
}
a:active {
    color: red;
}
body {
    font-family: 'Noto Sans JP', sans-serif;
}
nav > p {
    text-decoration: underline;
}
.maxwid {
    max-width: 70%;
}
.intro {
    display: block;
}
.aboutme {
    position: relative;
    left: 30px;
}
.hidden {
    display: none;
}